* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #0e1410;
  color: #f2ead8;
  font-family: "Courier New", monospace;
  overscroll-behavior: none;
  height: 100%;
}

#__next {
  height: 100%;
}
